[Unit]
Description=Restic backup

[Service]
Type=oneshot
User={{ resticprofile_user }}

CPUQuota={{ 25 * ansible_processor_vcpus }}%

{% if resticprofile_ssh_enabled %}
{% if resticprofile_repository_base is defined and resticprofile_repository_base is not none %}
Environment="RESTIC_REPOSITORY=sftp:{{ resticprofile_ssh_host }}:{{ resticprofile_repository_base }}/{{ resticprofile_repository_name }}"
{% else %}
Environment="RESTIC_REPOSITORY=sftp:{{ resticprofile_ssh_host }}:{{ resticprofile_repository_name }}"
{% endif %}
{% else %}
Environment="RESTIC_REPOSITORY={{ resticprofile_repository }}"
{% endif -%}
Environment="RESTIC_PASSWORD={{ resticprofile_password}}"

{% if resticprofile_aws_access_key_id is defined and resticprofile_aws_secret_access_key is defined %}
Environment="AWS_ACCESS_KEY_ID={{ resticprofile_aws_access_key_id}}"
Environment="AWS_SECRET_ACCESS_KEY={{ resticprofile_aws_secret_access_key}}"
{% endif %}

ExecStartPre=/bin/sh -c '{{ resticprofile_path }} snapshots || {{ resticprofile_path }} init'

{% if resticprofile_check %}
ExecStartPre={{ resticprofile_path }} check
{% endif -%}

{% for folder in resticprofile_folders_combined %}
ExecStart={{ resticprofile_path }} backup --verbose {{ folder.path }} {{ folder.exclude if folder.exclude is defined else '' }}
{% endfor -%}

{% for database in resticprofile_databases %}
ExecStart=/bin/sh -c "{{ database.dump_command }} {{ '| pigz |' if resticprofile_dump_compression_enabled else '|' }} {{ resticprofile_path }} backup --verbose --stdin --stdin-filename {{ database.name }}{{ '.dump.gz' if resticprofile_dump_compression_enabled else '.dump' }}"
{% endfor -%}

{% if resticprofile_forget %}
ExecStartPost={{ resticprofile_path }} forget --keep-within {{ resticprofile_forget_keep_within }}
{% endif -%}

{% if resticprofile_prune %}
ExecStartPost={{ resticprofile_path }} prune
{% endif -%}
