[Unit]
Description=Restic backup

[Timer]
OnCalendar={{ resticprofile_systemd_timer_on_calender }}
RandomizedDelaySec={{ resticprofile_systemd_timer_randomized_delay_sec }}

[Install]
WantedBy=timers.target
