Host {{ resticprofile_ssh_host }}
	User {{ resticprofile_ssh_user }}
{% if resticprofile_ssh_hostname is defined and resticprofile_ssh_hostname is not none %}
	HostName {{ resticprofile_ssh_hostname }}
{% else %}
	HostName {{ resticprofile_ssh_host }}
{% endif %}
	IdentityFile {{ resticprofile_ssh_private_key_path }}
{% if resticprofile_ssh_port is defined %}
	Port {{ resticprofile_ssh_port }}
{% endif %}
